
<ion-header>

  <ion-navbar>
    <ion-title>Verificar Ticket de Venta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-item>
<p> UNION DE GANADEROS LECHEROS </p>
<p> DE JUAREZ SA DE CV </p>
<p> UGL870209DL0 </p>
<p> RAMON RAYON #1351, WATERFILL</p>
<p> RIO BRAVO, CD. JUAREZ, CHIH.</p>
<p> C.P. 32553</p>
<p>. </p>
<p> NOTA DE VENTA ORIGINAL</p>
<p>. </p>
<p> RUTA: {{rutamail}} </p>
<p> FOLIO: {{ultimoFolio}}</p>
<p><b> FECHA: {{fechaHoraFinal}}</b></p>
<p> TIPO DE VENTA: {{tipoVentaCliente}} </p>
<p>. </p>
<p> <b># CLIENTE: {{cliente.CL_CLIENTE}}</b></p>
<p> <b>{{cliente.CL_NOMNEGOCIO}} </b></p> 
<p> {{cliente.CL_PUNTOVENTA}}</p>
<p> {{cliente.CL_RFC}} </p>
<p> {{cliente.CL_DIRNEGOCIO}} </p>
<p> {{cliente.CL_COLNEGOCIO}} </p>
<p> {{cliente.CL_CIUDADNEGOCIO}} C.P. {{cliente.CL_CPCLIE}} </p>
<p> CORPORACION:{{cliente.CL_CORPORACION}} </p>
<b> ==================================</b> 
<p> CLAVE   PRODUCTO</p> 

    <!--Codigo de lista de claves en venta-->
 <ion-grid>
<ion-list *ngFor= "let cve of clavesVta">
<ion-row>
  <ion-col>
<b>=====================================</b>
<p *ngIf="cve.promo"><b>Promocion: {{cve.promo}}</b></p>
<p><b> {{cve.clave}}  {{cve.nombre}}</b></p> 
<p> Cant: {{cve.cantidad}}   Precio:${{cve.precio| number:'1.2-2'}}</p>
<p> IVA:${{cve.iva| number:'1.2-2'}}   IEPS:${{cve.ieps| number:'1.2-2'}}</p>
<p> Importe:${{cve.importe| number:'1.2-2'}}</p>
</ion-col>
</ion-row>
</ion-list>
</ion-grid>
<b>=====================================</b>
<p>       <b>SUBTOTAL: </b>${{subtotalVta| number:'1.2-2'}}</p>
<p>            <b>IVA: </b>${{IVAVta| number:'1.2-2'}}</p>
<p>           <b>IEPS: </b>${{IEPSVta| number:'1.2-2'}}</p>
<p> <b>RECONOCIMIENTO: </b>${{reconocimientoVta| number:'1.2-2'}}</p>
<p > <b>TOTAL A PAGAR: </b>${{totalFinal| number:'1.2-2'}}</p>
<p>. </p>
<b>=====================================</b>
<p><b>KILOLITROS VENDIDOS:</b>{{KLAcumVta| number:'1.3-3'}}</p>
<b>=====================================</b>
<p>. </p>
<p> ATENDIDO POR: {{vendedor}}</p>
<p> {{nomVendedor}}</p>
<p>. </p>




<ion-item>
  <button color="primary" ion-item (tap)="showPrompt()">
   FINALIZAR E IMPRIMIR SU VENTA
  </button>
</ion-item>
</ion-item>
</ion-content>
